{extend name="Common/Common"}
{block name="content"}
<div id="main" class="content">
	<div class="container">
		<style>
			body.custom-background {
				background: #fff
			}

			.container {
				padding: 10px 0px;
			}
		</style>
		<section class="post_content">
			<header class="post_header">
				<h1 class="post_title">链接</h1>
			</header>
			<div class="links">
				<h3 class="catalog-title">Life Blog</h3>
				<div class="catalog-description"></div>
				<div class="catalog-share">4 items in collection</div>
				<div class="userItems">

					{foreach name="query" id="v" key="k"}
					<div class="userItem">
						<div class="userItem--inner">
							<div class="userItem-content">
								<img alt='' src='__UPLOAD__{$v.img}' class='avatar avatar-64 photo' height='64' width='64' />
								<div class="userItem-name">
									<a class="link link--primary" href="http://{$v.url}" target="_blank">{$v.name}</a>
								</div>
							</div>
						</div>
					</div>
					{/foreach}

				</div>
			</div>
		</section>
	</div>
</div>
{/block}