<!-- 首页-->
{extend name="Common/Common" /}
{block name="content"}
<div id="main" class="content">
	<div class="container">
		<article itemscope="itemscope">
			<div class="posts-list js-posts">

				{foreach name="query" id="v" key="k"}
				<div class="post post-layout-list" data-aos="fade-up">
					<div class="postnormal review ">
						<div class="post-container review-item">
							<div class="row review-item-wrapper">
								<div class="col-sm-3">
									<a rel="nofollow" href="{:url('article/article_content')}?id={$v.id}">
										<div class="review-item-img" style="background-image: url(__INDEX__images/diego-ph-249471-2-800x1000.jpg);"></div>
									</a>
								</div>
								<div class="col-sm-9 flex-xs-middle">
									<div class="review-item-title">
										<a href="{:url('article/article_content')}?id={$v.id}" rel="bookmark">{$v.title}</a>
									</div>
									<div class="review-item-creator"><b>发布日期：</b>{$v.time}</div>
									<!--<span class="review-item-info"><b>总浏览量：</b>1203 reads</span>-->
								</div>
							</div>
							<div class="review-bg-wrapper">
								<div class="bg-blur" style="background-image: url(__INDEX__images/diego-ph-249471-2-800x1000.jpg);"></div>
							</div>
						</div>
						<div class="post-container">
							<div class="entry-content">
								{$v.content|mb_substr=0,100,'utf-8'}
								</div>
							<div class="post-footer">
								<a class="gaz-btn primary" href="{:url('article/article_content')}?id={$v.id}">
									READ MORE
								</a>
								<span class="total-comments-on-post pull-right"><a href="">31 Comments</a></span>
							</div>
						</div>
					</div>
				</div>
				{/foreach}

			</div>

			<div class="pagination js-pagination">
				<div class="js-next pagination__load">
					<!--<a href=""><i class="iconfont">&#xe605;</i></a>-->

					{$page}

				</div>
			</div>

	</div>
</div>
{/block}